<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="http://localhost:3000/login" method="post">
      <input type="text" name="id"><br>
      <input type="password" name="passwd"><br>
      <input type="submit" value="Submit">
  </form>
  </body>
</html>